<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.we_care">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera2.front.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fina"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/fina"
        android:supportsRtl="false"
        android:theme="@style/Theme.We_Care"
        android:usesCleartextTraffic="true">
        <activity
            android:name="chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name="chat.ChatProfile"
            android:exported="false"
             />
        <activity
            android:name="chat.ChatUsers"
            android:exported="false" />
        <activity android:name=".PostDataNotRecognizing" />
        <activity
            android:name=".IdentifyGetData"
            android:exported="true" />
        <activity android:name="fragment.Adoption2" />
        <activity
            android:name=".NavigationDrawer"
            android:exported="true" />
        <activity android:name=".CameraActivity2" />
        <activity android:name=".Profile" />
        <activity android:name=".GoToHomeless" />
        <activity android:name=".GoToParents" />
        <activity android:name="fragment.Donation" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>